dokumentation.aux
dokumentation.ist
dokumentation.log
dokumentation.synctex.gz
dokumentation.toc
chapter/2.aux
chapter/3.aux
chapter/4.aux
chapter/5.aux
chapter/6.aux
dokumentation.lot
dokumentation.pdf
